@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
     font-family: "Montserrat", sans-serif;
     /*border: .1rem solid black;*/
}

:root{
    --blue-clr:#0d6efd;
    --gray-clr:#898989;
    --orange-clr:#ffc107;
}

.bg-blue{
    background: var(--blue-clr);
}
.bg-orange{
    background: var(--orange-clr);

}
.txt-blue{
    color: var(--blue-clr);
}

.txt-gray{
    color: var(--gray-clr);
}

 .navbar-logo{
    width: 8.5rem;
 }

 .mybtn{
    border:.1rem solid var(--blue-clr)!important;
    padding:.5rem 1.6rem;
 }

.mybtn:hover{
      background: transparent;   
      color:var(--blue-clr)!important; 
      margin:;
}

.banner{
    background: blue;
  height:95vh;
    background-image: url(image/img5.jpg);
  background-position: center;
  background-size: cover;
 
  
 }
 .hero-section{
 height: 100vh;

 }
 h1{
    font-size: 4rem;
     font-family: "Montserrat", sans-serif;

}
 p{
    font-size: .95rem;
    padding:1%;
 }
 .para{
    max-width: 500px;
 }